body {
    background-color: #E4E2DD;
}

.haut {
    display: flex;
    align-items: center;

        .global {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-left: 10%;
    
        }
}

.onglet a{
    gap: 50px 60px;
}
