body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 9pt;
    background-color: #E4E2DD;
}

a {
    text-decoration: none;
    margin-right: 40px;
    color: #444444;
}


.haut {
    display: flex;
    align-items: center;
    justify-content: center;
    

        .global {
            display: flex;
            align-items: center;
            gap: 50px;
            margin-left: 20px;
    
        }
}

.logo {
    margin-left: 20px;
}


.onglet {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 325px;
    font-weight: bold;
    font-size: 20px;
}

.onglet :hover {
    color: rgb(175, 174, 174);
}

.recherche {
    display: flex;
    align-items: center;
    align-content: center;
    float: right;
    margin-left: 250px;
    gap: 20px;
}

.recherche-btn {
    display: inline-block;
    background-color: #7B7A72; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 8px;
}

.recherche-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid #7B7A72;
}

.home-btn {
    display: inline-block;
    background-color: #7B7A72; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 8px;
}

.home-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid #7B7A72;
}


.barre {
        display: flex;
        background-color: #f0f0f0; 
        border-radius: 62px; 
        padding: 8px; 
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-color: black;
        border-width: 2px;
}

input[type="text"] {
    border: none;
    outline: none; 
    width: 200px; 
    background-color: #f0f0f0;
}

.cover-artiste-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    align-items: center;
}

.cover-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.img-artiste {
    border-radius: 20%;
    border: solid;
}


.popup-trigger {
    display: none;
}


.popup-trigger + label {
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.popup-trigger:checked + label + .popup {
    display: block;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.popup-content {
    text-align: center;
}

.Members {
    margin-top: 10px;
}

.carte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-event {
    display: flex;
    justify-content: center;
    align-items: center;
}