body {
    background-color: #e2e2e2;
}

.haut {
    display: flex;
    align-items: center;

        .global {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-left: 10%;
    
        }
}

.cover-artiste-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
  }

    


.cover-item {
    text-align: center;
    width: 100%;
    height: auto;
}

.img-artiste {
    border-radius: 20%;
    border: solid;
}

a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 40px;
    color: black;
}
