<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie-Tracker</title>
    <link rel="stylesheet" href="../static/css/body.css">
    <link rel="stylesheet " href="../static/css/header.css">
    <link rel="stylesheet " href="../static/css/map.css">
    <link rel="icon" type="image/png" href="/static/image/groupie-tracker.png" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
</head>
<body>
    <nav class="haut">
        <section class="logo">
            <a href="/index">
              <img src="../static/image/groupie-tracker.png" width ="200" height="200">
            </a>
        </section>
        <section class="global">
            <section class="onglet">
              <a href="presentation">Présentation</a>
              <a href="index">Artistes</a>
            </section>
          <section class="recherche">
            <form action = "/result" method="get">
                <section class="barre">
                    <input type="text" name="research" placeholder="Rechercher..."> 
                </section>
            </form>
            <button class = "btn" type = "submit">Rechercher</button>
          </section>
        </section>
    </nav>
    <script>
    var Artist = {{.Artists}} // artist name
    var eventData = {{.DatesLocations }};   // event data
    var coordinatesMap = {{.Coordinates }}; // coordinates map
    document.addEventListener('DOMContentLoaded', showNextEvent); // show next event on page load

    var nextEventIndex = 0; 
    var nextDateIndex = 0; 

    function showNextEvent() { // show next event
    var eventElement = document.querySelector('#event');   // Get the event element
    var events = Array.from(document.querySelector('#events').children); // Get all events
  
      // If there are more events to show
      if (nextEventIndex < events.length) {
        var location = events[nextEventIndex].children[0].textContent; // Get the location of the next event
        var dates = Array.from(events[nextEventIndex].children[1].children).map(li => li.textContent); // Get the dates of the next event

        // If there are more dates to show
        if (nextDateIndex < dates.length) {
          location = location.trim(); // Remove whitespace from the location
          eventElement.innerHTML = '<strong>Location:</strong>  ' + formatLocation(location) + ', <strong>Date:</strong> ' + dates[nextDateIndex]; // Update the event element with the location and date of the next event
          nextDateIndex++; // Increment the date index

          // Loop through the coordinates map
          for (const [locationCoord] of Object.entries(coordinatesMap)) {
            // If the location matches the current location
            if (locationCoord == location) {
              // If the coordinates map has coordinates for the current location
              if (coordinatesMap.hasOwnProperty(locationCoord)) {
                var locationCoordinates = coordinatesMap[locationCoord]; // Get the coordinates for the current location
                // If there are coordinates for the current location
                if (locationCoordinates && locationCoordinates.length > 0) {
                  var coordinates = locationCoordinates[0]; // Get the first set of coordinates
                  // If there are coordinates
                  if (coordinates) {
                    map.setView([coordinates.lat, coordinates.lon], 12); // Set the view of the map to the coordinates
                  }
                }
              } else {
                console.error('Invalid location: ' + location); // Log an error if the location is invalid
              }
            }
          }

        } else {
          nextEventIndex++; // Increment the event index
          nextDateIndex = 0; // Reset the date index
          showNextEvent(); // Show the next event
        }
      }
      // If there are no more events to show
      if (nextEventIndex >= events.length) {
        nextEventIndex = events.length - 1; // Set the event index to the last event
        nextDateIndex = events[nextEventIndex].children[1].children.length - 1; // Set the date index to the last date
        eventElement.textContent = 'No more events'; // Update the event element to show that there are no more events
      }
    }


  // Function to show the previous event 
  function showPreviousEvent() {
    var eventElement = document.querySelector('#event');
    var events = Array.from(document.querySelector('#events').children);

    if (nextEventIndex < 0) {
        nextEventIndex = 0;
        nextDateIndex = 0;
        eventElement.textContent = 'No more previous events';
        return;
    }

    var location = events[nextEventIndex].children[0].textContent;
    var dates = Array.from(events[nextEventIndex].children[1].children).map(li => li.textContent);

    if (nextDateIndex < 0) {
        nextEventIndex--;
        if (nextEventIndex >= 0) {
            nextDateIndex = events[nextEventIndex].children[1].children.length - 1;
            showPreviousEvent();
        } else {
            nextEventIndex = 0;
            nextDateIndex = 0;
            eventElement.textContent = 'No more previous events';
        }
    } else {
        if (nextDateIndex >= dates.length) {
            nextDateIndex = dates.length - 1;
        }
        location = location.trim();
        eventElement.textContent = 'Location: ' + formatLocation(location) + ', Date: ' + dates[nextDateIndex];
        nextDateIndex--;

        for (const [locationCoord] of Object.entries(coordinatesMap)) {
          if (locationCoord == location) {
            if (coordinatesMap.hasOwnProperty(locationCoord)) {
              var locationCoordinates = coordinatesMap[locationCoord];
              if (locationCoordinates && locationCoordinates.length > 0) {
                var coordinates = locationCoordinates[0];
                if (coordinates) {
                  map.setView([coordinates.lat, coordinates.lon], 12);
                }
              } 
            } else {
              console.error('Invalid location: ' + location);
            } 
          }
        }
    }
}
    </script>
    {{range .Artists}}
    <h1 class = "Name">{{.Name}} Concert</h1>
    {{end}}
    <section class="bouton">
      <button class = "btn" onclick="showNextEvent()">Show next event</button>
      <button class = "btn" onclick="showPreviousEvent()">Show previous event</button>
      </section>
      <section class="info-event">
        <p id="event"></p>
      <ul id="events" style="display: none;">
          {{range .DatesLocations}}
          <li>
              <p> {{.Location}}</p>
              <ul>
                  {{range .Dates}}
                  <li>{{.}}</li>
                  {{end}}
              </ul>
          </li>
          {{end}}
      </ul>
      </section>
      <section class="carte">
          <div id="map" style="width: 600px; height: 400px;"></div>
          <script src="/JS/map.js"></script>
      </section>
</body>
</html>