<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Eve,</title>
</head>
<body>
    <a href="/index"><button >Home</button></a>
    <ul>
        {{range $location, $dates := .DatesLocations}}
        <li>
            <p>Location: {{$location}}</p>
            <p>Dates: {{range $dates}}{{.}}, {{end}}</p>
        </li>
        {{end}}
    </ul>
</body>
</html>