<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/nouislider@14.6.3/distribute/nouislider.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/nouislider@14.6.3/distribute/nouislider.min.js"></script>
    <link rel="icon" type="image/png" href="/static/image/groupie-tracker.png" />
    <title>Groupie-Tracker</title>
</head>
<body>
    <nav class="haut">
        <section class="logo">
            <a href="/index">
              <img src="../static/image/groupie-tracker.png" width ="200" height="200">
            </a>
        </section>
        <section class="global">
            <section class="onglet">
              <a href="presentation">Presentation</a>
              <a href="index">Artistes</a>
            </section>
          <section class="recherche">
            <form id = "searchForm" action = "/result" method="get">
                <section class="barre">
                    <input type="text" name="research" placeholder="Rechercher..."> 
                </section>
            </form>
            <button class = "btn" type = "submit" form = "searchForm">Rechercher</button>
          </section>
        </section>
    </nav>
    <script>
        var Groups = {{.}}
    </script>
    <div class = "sort-btn">
        <a href="/index?sort=A-Z"><button >A-Z</button></a>
        <a href="/index?sort=Z-A"><button >Z-A</button></a>
        <div class="wrapper">
            <div class="price-input">
              <div class="field">
                <span>Min</span>
                <input type="number" class="input-min" value="1958">
              </div>
              <div class="separator">-</div>
              <div class="field">
                <span>Max</span>
                <input type="number" class="input-max" value="2015">
              </div>
            </div>
            <div class="slider">
                    <span type = number class = input-min id = "minYear" value = 1958>1958</span>
                    <div class="progress"></div>
                    <span type = number class = input-max id = "maxYear" value =2015>2015</span>
            </div>
            <div class="range-input">
              <input type="range" class="range-min" min="1958" max="2015" value="1958" step="1">
              <input type="range" class="range-max" min="1958" max="2015" value="2015" step="1 ">
            </div>
          </div>
        <a href = "/index"><button>Reset</button></a>
    </div>
    <section class="cover-artiste-grid">
        {{range .}}
        <article class="cover-item">
            <input type="checkbox" id="popup-{{.Name}}" class="popup-trigger">
            <label for="popup-{{.Name}}">
                <img src="{{.Image}}" alt="{{.Name}}" class="img-artiste">
            </label>
            <div class="popup">
                <label for="popup-{{.Name}}" class="close-button">x</label>
                <h2>{{.Name}}</h2>
                <div class="popup-content">
                    <div class="Members">
                        <h2>Members : </h2>
                        {{range .Members}}
                        <p>{{.}}</p>
                        {{end}}
                    </div>
                    <div class = "date-of-creation">
                        <h2>Date of creation : </h2>
                        <p>{{.CreationDate}}</p>
                    </div>
                    <div class = "first-album">
                        <h2>First album : </h2>
                        <p>{{.FirstAlbum}}</p>
                    </div>
                    <form class ="event-btn" action = "/event" method="get">
                      <input type="hidden" name="id" value="{{.ID}}">
                      <button class = "btn" type = "submit" >Events</button>
                    </form>
                    </div>
              </div>
            <div class="info">
                <h2>{{.Name}}</h2>
            </div>
        </article>
        
        {{end}}
    </section>
    
    <script src="/JS/range.js"></script>
</body>
</html>